html { 
    font-size: 62.5%;     /* 1rem = 10px */
    /* background-color: rgb(224, 224, 224); */
    
    background:  url("https://media.giphy.com/media/xT9IgN8YKRhByRBzMI/giphy.gif"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


p{
    margin: 1rem 0 !important;
}

.login-container{
    width: 40rem;
    margin-top: 5rem;
    text-align: center;
}

.right-align{
        position: relative;
        top: 6rem;
        right:2rem;

}
